<section>
    <div class="container">
        <div class="row m-auto" >
            <div class="col-md-12 mt-5 text-center">
                <h3 class="mt-5 pt-5">Order Placed Successfully</h3>
                <a href="/order" class="btn btn-primary">View Orders</a>

            </div>
        </div>
    </div>
</section>